<div class="container">

	<div class="box-container seven columns">
		<!-- Name of the league -->
		<h1 ng-bind="data.name">Premier League</h1>

		<!-- Edit button -->
		<a class="u-pull-right" href="#/league/{{ data.id }}/edit" ng-show="data.is_league_manager">Edit</a>

		<!-- Description of the league -->
		<p ng-bind="data.description"></p>


		<!-- Mini navigation -->
		<ul class="nav sub">
			<li><a href ng-click="subPage = 'table'" ng-class="{ active: subPage === 'table' }">Table</a></li>
			<li><a href ng-click="subPage = 'results'" ng-class="{ active: subPage === 'results' }">Results</a></li>
			<li><a href ng-click="subPage = 'fixtures'" ng-class="{ active: subPage === 'fixtures' }">Fixtures</a></li>
		</ul>


		<!-- Sub pages -->

		<!-- League table = subpage -->
		<div ng-show="subPage === 'table'">
			<table class="u-full-width league-table">
				<thead>
					<tr>
						<th>Pos</th>
						<th>Name</th>
						<th>Played</th>
						<th>Wins</th>
						<th>Losses</th>
						<th>Rating</th>
						<th>Pts</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="n in table track by $index">
						<td ng-bind="$index + 1">1</td>
						<td ng-bind="n.name"></td>
						<td ng-bind="n.played"></td>
						<td ng-bind="n.wins"></td>
						<td ng-bind="n.loses"></td>
						<td>1300</td>
						<td ng-bind="n.points"></td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- Results = subpage -->
		<div cp-result tournament-id="data.id" is-ready="data.success" ng-show="subPage === 'results'"></div>

		
		<!-- Fixutes = subpage -->
		<div cp-fixtures tournament-id="data.id" is-ready="data.success" ng-show="subPage === 'fixtures'"></div>
	</div>


	<!-- Side bar -->
	<div class="five columns">
		<div class="box-container side">
			<!-- Display all league managers -->
			<h2>Managers</h2>

			<ul class="list-side">
				<li ng-repeat="n in data.league_managers">
					<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				</li>
			</ul>
			
			<!-- Display all players -->
			<h2>Players</h2>

			<ul class="list-side">
				<li ng-repeat="n in data.players">
					<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				</li>
			</ul>
		</div>
	</div>

</div>