<div class="container">

	<div class="box-container seven columns">
		<h1>{{ editOrCreate }} League</h1>

		<!-- League name field -->
		<label>League Name</label>
		<input class="u-full-width" type="text" ng-model="name">

		<!-- League description field -->
		<label>League Description</label>
		<textarea class="u-full-width" ng-model="description"></textarea>

		<!-- Submit button -->
		<button class="u-full-width" ng-click="eventUpdate()">{{ editOrCreate }}</button>
	</div>

	<div class="box-container side five columns">
		<h2>Managers<a class="u-pull-right">Add</a></h2>

		<span>
			<a>Jordan Lord</a>
			<a class="u-pull-right">Remove</a>
		</span><br>

		<span>
			<a>John Doe</a>
			<a class="u-pull-right">Remove</a>
		</span><br> <!-- !!!!!!!!!!!!!!!!!!!!!!!!! -->
	</div>

</div>