<div class="container">

	<div class="box-container seven columns">
		<!-- Name of the league -->
		<h1 ng-bind="data.name">Premier League</h1>

		<!-- Edit button -->
		<a class="u-pull-right">Edit</a>

		<!-- Description of the league -->
		<p ng-bind="data.description"></p>


		<!-- Mini navigation -->
		<ul class="nav sub">
			<li><a class="active">Table</a></li>
			<li><a>Results</a></li>
			<li><a>Fixtures</a></li>
		</ul>


		<!-- Sub pages -->

		<!-- League table = subpage -->
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Pos</th>
					<th>Name</th>
					<th>Played</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Rating</th>
					<th>Pts</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Jordan Lord</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1342</td>
					<td>8</td>
				</tr>

				<tr>
					<td>2</td>
					<td>John Doe</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1312</td>
					<td>6</td>
				</tr>

				<tr>
					<td>3</td>
					<td>Wilfred Morales</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>1300</td>
					<td>0</td>
				</tr>

				<tr>
					<td>3</td>
					<td>Shane Washington</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>1300</td>
					<td>0</td>
				</tr>

				<tr>
					<td>3</td>
					<td>Sylvester Briggs</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>1300</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>


		<!-- Results = subpage -->
		<div class="result">
			<div class="head">
				<span>FRI 11 NOV 2015</span>
				<a class="u-pull-right">Premier League</a><br>
			</div>

			<div class="body">
				<span><a>Jordan Lord</a> (1342)</span>
				<span class="score win">3-1</span>
				<span><a>John Doe</a> (1234)</span>
			</div>
		</div>

		<div class="result">
			<div class="head">
				<span>TUE 03 NOV 2015</span>
				<a class="u-pull-right">Premier League</a><br>
			</div>

			<div class="body">
				<span><a>Jordan Lord</a> (1342)</span>
				<span class="score loss">2-3</span>
				<span><a>John Doe</a> (1203)</span>
			</div>
		</div>

		
		<!-- Fixutes = subpage -->
		<div class="result">
			<div class="head">
				<a>ENTER RESULT</a>
				<a class="u-pull-right">Premier League</a><br>
			</div>

			<div class="body">
				<span><a>John Doe</a> (1312)</span><br>
				<span><a>Shane Washington</a> (1300)</span>
				<span class="u-pull-right">%52</span>
			</div>
		</div>

		<div class="result">
			<div class="head">
				<a>ENTER RESULT</a>
				<a class="u-pull-right">Premier League</a><br>
			</div>

			<div class="body">
				<span><a>Wilfred Morales</a> (1300)</span><br>
				<span><a>Sylvester Briggs</a> (1300)</span>
				<span class="u-pull-right">%50</span>
			</div>
		</div>
	</div>


	<!-- Side bar -->
	<div class="five columns">
		<div class="box-container side">
			<!-- Display all league managers -->
			<h2>Managers</h2>

			<ul>
				<li ng-repeat="n in data.league_managers">
					<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				</li>
			</ul>
			
			<!-- Display all players -->
			<h2>Players</h2>

			<ul>
				<li ng-repeat="n in data.players">
					<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				</li>
			</ul>
		</div>
	</div>

</div>