<div class="container">

	<div class="box-container seven columns">
		<h1>{{ editOrCreate }} League</h1>

		<!-- League name field -->
		<label>League Name</label>
		<input class="u-full-width" type="text" ng-model="name">

		<!-- League description field -->
		<label>League Description</label>
		<textarea class="u-full-width" ng-model="description"></textarea>

		<!-- Submit button -->
		<button class="u-full-width" ng-click="eventUpdate()">{{ editOrCreate }}</button>
	</div>

	<div class="box-container side five columns">
		<!-- Display all league managers -->
		<h2>Managers<a class="u-pull-right">Add</a></h2>

		<ul class="list-side">
			<li ng-repeat="n in data.league_managers">
				<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				<a class="u-pull-right" href ng-click="eventRemoveManager(n.id)" ng-show="n.user_id === yourId">Remove</a>
			</li>
		</ul>

		<!-- Display all players -->
		<h2>Players</h2>

		<ul class="list-side">
			<li ng-repeat="n in data.players">
				<a href="#/profile/{{ n.id }}" ng-bind="n.first_name + ' ' + n.last_name"></a>
				<a class="u-pull-right" href ng-click="eventRemovePlayer(n.id)">Remove</a>
			</li>
		</ul>
	</div>

</div>