<div class="container">

	<!-- Login form -->
	<form>
		<div class="row box-container six columns">
			<h1>Login</h1>

			<div class="error-container" ng-hide="response.success">
				<ul>
					<li ng-bind="response.error_msg">Incorrect username or password</li>
				</ul>
			</div>

			<!-- Email address field -->
			<div class="u-full-width">
				<label>Email Address</label>
				<input class="u-full-width" type="email" ng-model="inputEmailLogin">
			</div>

			<!-- Password field -->
			<div class="u-full-width">
				<label>Password</label>
				<input class="u-full-width" type="password" ng-model="inputPasswordLogin">
			</div>

			<!-- Login button -->
			<!-- When clicked, calls @method btnLoginClick -->
			<button class="u-full-width" ng-click="btnLoginClick()">Login</button>

		</div>
	</form>

	<!-- Register form -->
	<form>
		<div class="row box-container six columns u-pull-right">
			<h1>Register</h1>

			<!-- First name field -->
			<div class="u-full-width">
				<label>First Name</label>
				<input class="u-full-width" type="text" ng-model="inputFirstName">
			</div>

			<!-- Last name field -->
			<div class="u-full-width">
				<label>Last Name</label>
				<input class="u-full-width" type="text" ng-model="inputLastName">
			</div>

			<!-- Email address field -->
			<div class="u-full-width">
				<label>Email Address</label>
				<input class="u-full-width" type="email" ng-model="inputEmailRegister">
			</div>

			<!-- Password field -->
			<div class="u-full-width">
				<label>Password</label>
				<input class="u-full-width" type="password" ng-model="inputPasswordRegister">
			</div>

			<!-- Repeat password field -->
			<div class="u-full-width">
				<label>Repeat Password</label>
				<input class="u-full-width" type="password" ng-model="inputPasswordRepeatRegister">
			</div>

			<!-- Register button -->
			<!-- When clicked, calls @method btnRegisterClick -->
			<button class="u-full-width" ng-click="btnRegisterClick()">Register</button>

		</div>
	</form>
</div>