<div class="container">

	<div class="box-container seven columns">
		<h1 ng-bind="data.full_name"></h1>


		<!-- Mini navigation -->
		<ul class="nav sub">
			<li><a ng-click="btnChangeSubPage('results')" ng-class="subPageClass('results')">Results</a></li>
			<li><a ng-click="btnChangeSubPage('fixtures')" ng-class="subPageClass('fixtures')">Fixtures</a></li>
			<li><a ng-click="btnChangeSubPage('progress')" ng-class="subPageClass('progress')">Progress</a></li>
		</ul>


		<!-- Mini pages -->

		<!-- Results = subpage -->
		<div ng-show="isSubPage('results')">
			<div class="result">
				<div class="head">
					<span>FRI 11 NOV 2015</span>
					<a class="u-pull-right">Premier League</a><br>
				</div>

				<div class="body">
					<span class="score win">3-1</span>
					<span>vs <a>John Doe</a> (1234)</span>
					<span class="u-pull-right">+23</span>
				</div>
			</div>

			<div class="result">
				<div class="head">
					<span>TUE 03 NOV 2015</span>
					<a class="u-pull-right">Premier League</a><br>
				</div>

				<div class="body">
					<span class="score loss">2-3</span>
					<span>vs <a>John Doe</a> (1203)</span>
					<span class="u-pull-right">-31</span>
				</div>
			</div>
		</div>


		<!-- Fixtues = subpage -->
		<div ng-show="isSubPage('fixtures')">
			<div class="result">
				<div class="head">
					<a>ENTER RESULT</a>
					<a class="u-pull-right">Premier League</a><br>
				</div>

				<div class="body">
					<span>vs <a>Shane Washington</a> (1300)</span>
					<span class="u-pull-right">%56</span>
				</div>
			</div>

			<div class="result">
				<div class="head">
					<a>ENTER RESULT</a>
					<a class="u-pull-right">Premier League</a><br>
				</div>

				<div class="body">
					<span>vs <a>Sylvester Briggs</a> (1300)</span>
					<span class="u-pull-right">%56</span>
				</div>
			</div>
		</div>


		<!-- Progress = subpage -->
		<img ng-show="isSubPage('progress')" width="u-full-width" height="500">
	</div>

	<!-- Side bar -->
	<div class="five columns">
		<div class="box-container side">
			<h2>Rating</h2>
			<span>1342</span>
		</div>

		<div class="box-container side">
			<h2>Leagues</h2>
			<a>Premier League</a>

			<h2>Managing</h2>
			<a>Premier League</a>

			<h2>Achievements</h2>
			<span>Division 1 winner x2</span>
		</div>

		<div class="box-container side">
			<h2>Contact</h2>
			<span>Home: 1234 4567</span><br>
			<span>Mobile: 07123456789</span>
		</div>
	</div>

</div>