<div class="container">

	<div class="box-container seven columns">
		<!-- Full name of user -->
		<h1 ng-bind="data.full_name"></h1>


		<!-- Mini navigation -->
		<ul class="nav sub">
			<li><a href ng-click="subPage = 'results'" ng-class="{active: subPage === 'results'}">Results</a></li>
			<li><a href ng-click="subPage = 'fixtures'" ng-class="{active: subPage === 'fixtures'}">Fixtures</a></li>
			<li><a href ng-click="subPage = 'progress'" ng-class="{active: subPage === 'progress'}">Progress</a></li>
		</ul>


		<!-- Sub pages -->

		<!-- Results = subpage -->
		<div ng-show="subPage === 'results'">
			<div cp-result player-one-id="data.id" is-ready="data.success"></div>
		</div>

		<!-- Fixutres = subpage -->
		<div ng-show="subPage === 'fixtures'">
			<div cp-fixtures player-id="data.id" is-ready="data.success"></div>
		</div>

		<!-- Progress = subpage -->
		<img ng-show="subPage === 'progress'" width="u-full-width" height="500">
	</div>

	<!-- Side bar -->
	<div class="five columns">
		<div class="box-container side">
			<h2>Rating</h2>
			<span>1342</span>
		</div>

		<div class="box-container side">
			<!-- Display all leagues that the user is playing in -->
			<h2>Leagues</h2>
			<ul class="list-side">
				<li ng-repeat="n in data.leagues_playing">
					<a href="#/league/{{ n.id }}" ng-bind="n.name"></a>
				</li>
			</ul>

			<!-- Display all leagues that the user is managing -->
			<h2>Managing</h2>
			<ul class="list-side">
				<li ng-repeat="n in data.leagues_managing">
					<a href="#/league/{{ n.id }}" ng-bind="n.name"></a>
				</li>
			</ul>

			<h2>Achievements</h2>
			<span>Division 1 winner x2</span>
		</div>

		<div class="box-container side">
			<h2>Contact</h2>
			<span>Home: 1234 4567</span><br>
			<span>Mobile: 07123456789</span>
		</div>
	</div>

</div>