<!-- View for the search directives -->
<div>
	<!-- Search field -->
	<input class="u-full-width" type="text" placeholder="Search" ng-model="inputName" ng-change="eventInputChange()"></input>

	<!-- Error shows when no league found -->
	<div class="error-container" ng-show="results.length === 0 && inputName.length !== 0">
		<ul>
			<li>No results</li>
		</ul>
	</div>

	<!-- Results from search -->
	<ul class="list-side" ng-show="inputName.length !== 0">
		<li ng-repeat="n in results">
			<a href ng-bind="n.name" ng-click="eventClickName(n.id)"></a>
		</li>
	</ul>
</div>